.btn-inline {
    border: none;
    color: var(--color-primary);
    font-size: inherit;
    border-bottom: 1px solid currentColor;
    padding-bottom: 3px;
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    transition: all 200ms;

    & span {
        margin-left: 3px;
        transition: margin-left 200ms;
    }

    &:hover {
        color: var(--color-grey-dark-1);

        span {
            margin-left: 8px;
        }
    }

    &:focus {
        outline: none;
        animation: pulsate 1s infinite;
    }
}

@keyframes pulsate {
    0% {
        transform: scale(1);
        box-shadow: none;
    }   

    50% {
        transform: scale(1.05);
        box-shadow: 0 1rem 4rem rgba($color: #000000, $alpha: .25);
    }

    100% {
        transform: scale(1);
        box-shadow: none;
    }
}